body {
	font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
	scroll-padding-top: 7.5rem;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

/* ホバー */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

html.is-fixed {
	overflow: hidden;
}

.l-approach {
	margin-top: 7.5rem;
}

.l-facility {
	margin-top: 6.75rem;
}

.l-members {
	margin-top: 8rem;
}

.l-page-product {
	margin-top: 4.4375rem;
}

.l-service-works {
	margin-top: 6.75rem;
}

.l-top-image {
	margin-bottom: 8.3125rem;
	margin-top: 6.875rem;
}

.accordion__container {
	border-top: 0.03125rem solid #545558;
	transition-duration: 0.3s;
}

.accordion__wrapper {
	border-bottom: 0.03125rem solid #545558;
	padding-bottom: 2.125rem;
}

.accordion__title-wrapper {
	align-items: center;
	cursor: pointer;
	display: flex;
	gap: 0.875rem;
	padding-top: 2.125rem;
	position: relative;
}

.accordion__title {
	color: #2E2E2E;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4375;
	padding-left: 1.3125rem;
	position: relative;
}

.accordion__enTitle {
	color: #9B9CA2;
	font-family: "Arial", serif;
	font-size: 0.75rem;
	font-weight: 300;
}

.accordion__content {
	margin-top: 2.3125rem;
	padding-left: 2.8125rem;
}

.accordion__text {
	color: #2E2E2E;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.9166666667;
}

.accordion__text--small {
	color: #2E2E2E;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 2.3;
	padding-left: 1em;
	text-indent: -1em;
}

.accordion__content dl {
	color: #2E2E2E;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.9166666667;
	width: 100%;
}

.accordion__content dt {
	width: 14%;
}

.accordion__content dd {
	width: 86%;
}

.accordion__btn {
	position: relative;
}

.accordion__title-wrapper::after,
.accordion__title-wrapper::before {
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.875rem;
	position: absolute;
	right: 1.25rem;
	top: 50%;
	transition: opacity 0.3s;
	width: 1.875rem;
}

.accordion__title-wrapper::after {
	background-image: url("../images/common/accordion-plus.jpg");
	opacity: 1;
}

.accordion__title-wrapper::before {
	background-image: url("../images/common/accordion-minus.jpg");
	opacity: 0;
}

.accordion__title-wrapper.is-active::after {
	opacity: 0;
}

.accordion__title-wrapper.is-active::before {
	opacity: 1;
}

.accordion__content.accordion__content--none {
	display: none;
}

.approach {
	overflow: hidden;
}

.approach__top {
	text-align: center;
}

.approach__title {
	position: relative;
}

.approach__jaTitle {
	color: #2E2E2E;
	font-size: 1.9375rem;
	font-style: italic;
	font-weight: 700;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

.approach__enTitle {
	color: #9B9CA2;
	font-family: "Arial", serif;
	font-size: 4.5625rem;
	font-weight: 700;
	opacity: 0.15;
	text-transform: uppercase;
}

.approach__text {
	color: #2E2E2E;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 2.1428571429;
	margin-top: 0.5625rem;
}

.approach__bottom {
	margin-top: 5.625rem;
}

.facility__items {
	grid-gap: 1.875rem;
	display: grid;
	gap: 1.875rem;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2.5rem;
}

.facility__img {
	aspect-ratio: 331/166;
	position: relative;
}

.facility__title {
	color: #2E2E2E;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.9166666667;
	margin-top: 1rem;
}

.feature {
	display: flex;
	flex-direction: column;
	position: relative;
}

.feature__flex-container {
	display: flex;
	flex: 1;
}

.feature__wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 3.5rem;
}

.feature__number {
	color: #9B9CA2;
	font-family: "Arial", serif;
	font-size: 4.5625rem;
	font-weight: 700;
	line-height: 1.1369863014;
	opacity: 0.15;
	position: relative;
}

.feature__title {
	color: #2E2E2E;
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 1.4545454545;
	margin-bottom: 0.9375rem;
}

.feature__sub-title {
	color: #2E2E2E;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.9166666667;
	width: 100%;
}

.feature__text {
	color: #2E2E2E;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.9166666667;
	width: 100%;
}

.feature__text--bold {
	color: #2E2E2E;
	display: inline;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.9166666667;
	width: 100%;
}

.feature__text--small {
	color: #2E2E2E;
	display: inline;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 1.9166666667;
	width: 100%;
}

.feature__img {
	aspect-ratio: 300/172;
	margin-left: 4.125rem;
	margin-top: 1.75rem;
	position: relative;
	width: 84%;
}

.feature__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.feature::before {
	background-color: #F0F0F1;
	bottom: 0rem;
	content: "";
	display: block;
	height: auto;
	left: 2.375rem;
	position: absolute;
	top: 5.625rem;
	width: 0.4375rem;
}

.feature__text-wrapper:first-of-type {
	margin-top: 1.5625rem;
}

.features {
	display: flex;
	flex-wrap: wrap;
}

.features__item {
	width: 33.3333333333%;
}

.features__item:nth-child(4),
.features__item:nth-child(5),
.features__item:nth-child(6) {
	margin-top: 3.75rem;
}

.features__item:not(:first-child) {
	margin-left: -0.375rem;
}

.footer {
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4.4375rem;
	padding-top: 2.9375rem;
	text-align: center;
}

.footer__contact {
	color: #9B9CA2;
	display: inline-block;
	font-family: "Arial", serif;
	font-size: 0.875rem;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
}

.footer__text {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.35;
	margin-top: 0.625rem;
}

.footer__btn {
	margin-top: 3.25rem;
}

.footer__btn a {
	border: 0.03125rem solid #fff;
	border-radius: 6.1875rem;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 1.25rem 4.625rem;
	position: relative;
	transition: all 0.3s;
}

.footer__btn a:hover {
	background-color: #82D8D0;
	border: 0.03125rem solid #82D8D0;
	color: #fff;
}

.footer__btn a::before {
	background-image: url(../images/common/arrow.svg);
	background-size: contain;
	content: "";
	display: inline-block;
	height: 0.75rem;
	position: absolute;
	right: 1.375rem;
	top: 1.5625rem;
	width: 0.8125rem;
}

.footer__phone {
	align-items: baseline;
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 2.125rem;
	margin-top: 3.125rem;
}

.footer__tel {
	font-family: "Arial", serif;
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
}

.footer__number {
	font-family: arial;
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.2;
}

.footer__hour {
	color: #9B9CA2;
	font-size: 0.625rem;
	font-weight: 500;
}

.footer__company {
	color: #fff;
	font-family: "Arial", serif;
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 1.1470588235;
	margin-top: 2.875rem;
	text-align: center;
}

.footer__nav {
	color: #fff;
}

.footer__items {
	display: flex;
	gap: 8.125rem;
	margin-top: 2.1875rem;
}

.footer__item {
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.9166666667;
	text-align: left;
}

.footer__item a {
	transition: all 0.3s;
}

.footer__item a:hover {
	color: #82D8D0;
}

.footer__service-items {
	color: #9B9CA2;
	font-size: 0.75rem;
	font-weight: 500;
	margin-left: 1.25rem;
	margin-top: 0.875rem;
	text-align: left;
}

.footer__service-item:not(:first-child) {
	margin-top: 0.4375rem;
}

.footer__service-item a {
	transition: all 0.3s;
}

.footer__service-item a:hover {
	color: #82D8D0;
}

.footer__bottom {
	color: #9B9CA2;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	padding-top: 0.375rem;
	position: relative;
}

.footer__bottom::before {
	background-color: #737479;
	content: "";
	display: block;
	height: 0.03125rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.footer__address {
	font-size: 0.625rem;
	font-weight: 300;
	line-height: 2.3;
}

.footer__bottom small {
	display: block;
	font-family: "Arial", serif;
	font-size: 0.4375rem;
	font-weight: 300;
	line-height: 4.2857142857;
}

.header {
	background-color: transparent;
	height: 5rem;
	position: sticky;
	top: 0;
	transition: 0.3s;
	width: 100%;
	z-index: 1000;
}

.header.is-color {
	background-color: #fff;
}

.header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	padding-left: 2.875rem;
	padding-right: 3.5625rem;
}

.header__logo {
	height: inherit;
	position: relative;
	z-index: 100;
}

.header__logoLink {
	align-items: center;
	color: #2E2E2E;
	display: flex;
	font-family: "Arial", serif;
	font-size: 1.1875rem;
	font-weight: 700;
	height: inherit;
	line-height: 1.1578947368;
	transition: all 0.3s;
}

.header__logoLink.is-active {
	color: #fff;
}

.header__logoLink:hover {
	opacity: 0.7;
}

.header__drawer {
	display: none;
}

.header__pc-nav {
	display: flex;
	height: inherit;
}

.header__sp-nav {
	display: none;
}

.hamburger {
	background-color: #fff;
	border: 0.03125rem solid #fff;
	border-radius: 6.1875rem;
	height: 2.75rem;
	position: relative;
	right: -0.125rem;
	top: -0.25rem;
	width: 2.75rem;
	z-index: 100;
}

.hamburger::before {
	background-color: #2E2E2E;
	content: "";
	display: block;
	height: 0.125rem;
	left: 50%;
	position: absolute;
	position: absolute;
	top: 41%;
	transform: translateX(-50%);
	transition: 0.3s;
	width: inherit;
	width: 1.125rem;
}

.hamburger.is-active {
	background-color: transparent;
	border: 1px solid #fff;
}

.hamburger::after {
	background-color: #2E2E2E;
	content: "";
	display: block;
	height: 0.125rem;
	left: 50%;
	position: absolute;
	top: 56%;
	transform: translateX(-50%);
	transition: 0.3s;
	width: inherit;
	width: 1.125rem;
}

.hamburger.is-active::before {
	background-color: #fff;
	transform: translate(-50%, 3px) rotate(45deg);
}

.hamburger.is-active::after {
	background-color: #fff;
	transform: translate(-50%, -4px) rotate(-45deg);
}

body.is-active {
	height: 100%;
	overflow: hidden;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1120px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.members {
	background-image: url(../images/common/members-bg.jpg);
	padding-bottom: 4.375rem;
	padding-top: 3.4375rem;
}

.members__title-wrapper {
	align-items: flex-end;
	display: flex;
	gap: 2.5rem;
}

.members__title {
	color: #fff;
	font-family: "Arial", serif;
	font-size: 4.375rem;
	font-weight: 300;
	letter-spacing: -0.04em;
	line-height: 1;
	text-transform: uppercase;
}

.members__text {
	color: #fff;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.9166666667;
}

.members__swiper {
	margin-right: calc(50% - 50vw);
	margin-top: 1.375rem;
}

.members__img {
	aspect-ratio: 252/357;
	position: relative;
}

.members__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.members__post {
	color: #fff;
	font-family: "Arial", serif;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.1428571429;
	margin-top: 0.9375rem;
}

.members__name {
	color: #fff;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.9166666667;
	margin-top: 0.3125rem;
}

.page-fv {
	margin-top: 3.5rem;
	position: relative;
}

.page-fv::before {
	background: linear-gradient(180deg, #EBEBEB, #FFFFFF);
	content: "";
	display: block;
	height: 83.75rem;
	left: 0;
	position: absolute;
	top: -8.5rem;
	width: 100%;
}

.page-fv__inner {
	display: flex;
}

.page-fv__wrapper {
	margin-top: 2.3125rem;
	position: relative;
	width: 77.4%;
	z-index: 2;
}

.page-fv__enTitle {
	color: #9B9CA2;
	font-family: "Arial", serif;
	font-size: 4.0625rem;
	font-weight: 700;
	left: 0;
	letter-spacing: -0.02em;
	line-height: 0.9538461538;
	opacity: 0.15;
	position: absolute;
	text-transform: uppercase;
	top: 0;
}

.page-fv__jaTitle {
	color: #2E2E2E;
	font-size: 1.9375rem;
	font-style: italic;
	font-weight: 900;
	letter-spacing: -0.06em;
}

.page-fv__text {
	color: #2E2E2E;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1.9230769231;
	margin-top: 1.5rem;
}

.page-fv__img {
	aspect-ratio: 242/211;
	position: relative;
	width: 22.6%;
}

.page-fv__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.pc-nav__items {
	align-items: center;
	display: flex;
	gap: 2.875rem;
	height: inherit;
	justify-content: center;
}

.pc-nav__item {
	align-items: center;
	color: #2E2E2E;
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;
	font-weight: bold;
	height: inherit;
	justify-content: center;
	line-height: 1.9166666667;
}

.pc-nav__item a {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	position: relative;
	transition: all 0.3s;
}

.pc-nav__item a:hover {
	color: #82D8D0;
}

.pc-nav__item a::before {
	background-color: #82D8D0;
	border-radius: 6.1875rem;
	content: "";
	display: block;
	height: 0.375rem;
	left: -0.8125rem;
	opacity: 0; /*不透明度0*/
	position: absolute;
	top: 50%;
	transform: translateY(-20%);
	transition: all 0.3s; /*表示の変化を0.3秒に指定*/
	visibility: hidden; /*デフォルトでは非表示の状態にしておく*/
	width: 0.375rem;
}

.pc-nav__item a:hover::before {
	opacity: 1;
	visibility: visible;
}

.pc-nav__item.pc-nav__item--contact a:hover::before,
.pc-nav__service-items a:hover::before {
	opacity: 0;
}

.pc-nav__item--contact {
	height: auto;
	height: initial;
	margin-left: 2.875rem;
}

.pc-nav__item--contact a {
	background-color: #000000;
	border-radius: 6.1875rem;
	color: #fff;
	font-family: "Arial", serif;
	font-size: 0.75rem;
	padding: 0.5rem 1.25rem;
	text-transform: uppercase;
}

.pc-nav__item--contact a:hover {
	background-color: #82D8D0;
	color: #fff;
}

.pc-nav__service-items {
	background-color: #F0F0F1;
	display: flex;
	gap: 2.375rem;
	height: 4.375rem;
	justify-content: flex-end;
	left: 0;
	opacity: 0; /*不透明度0*/
	padding-left: 2.875rem;
	padding-right: 3.5625rem;
	position: absolute;
	top: 5rem;
	transition: all 0.3s; /*表示の変化を0.3秒に指定*/
	visibility: hidden; /*デフォルトでは非表示の状態にしておく*/
	width: 100%;
}

.pc-nav__service-item,
.pc-nav__service-item a {
	height: inherit;
}

.pc-nav__item:hover .pc-nav__service-items {
	opacity: 1; /*不透明度1*/
	visibility: visible; /*Gナビメニューにホバーしたら表示*/
}

.service-works__img {
	aspect-ratio: 330/180;
	position: relative;
}

.service-works__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.service-works__video-container {
	grid-gap: 1.5625rem;
	display: grid;
	gap: 1.5625rem;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3.125rem;
}

.service-works__video iframe {
	aspect-ratio: 360/205;
	height: auto;
	width: 100%;
}

.section-header__enTitle {
	color: #fff;
	display: inline-block;
	font-family: "Arial", serif;
	font-size: 0.75rem;
	font-weight: 300;
	letter-spacing: -0.03em;
	line-height: 1.5;
	padding-left: 1.0625rem;
	position: relative;
	text-transform: uppercase;
}

.section-header__enTitle::before {
	background-color: #82D8D0;
	border-radius: 6.1875rem;
	content: "";
	display: block;
	height: 0.375rem;
	left: 0rem;
	position: absolute;
	top: 0.3125rem;
	width: 0.375rem;
}

.section-header__jaTitle {
	color: #fff;
	font-size: 2.0625rem;
	font-weight: 700;
	line-height: 1.9090909091;
}

.section-header__enTitle.section-header__enTitle--footer {
	color: #9B9CA2;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.1428571429;
}

.section-header__enTitle.section-header__enTitle--footer::before {
	left: 0.4375rem;
}

.section-header__enTitle--black,
.section-header__jaTitle--black {
	color: #2E2E2E;
}

.section-header__wrapper {
	align-items: flex-end;
	display: flex;
	gap: 2rem;
}

.section-header__btn {
	background-color: #000000;
	border-radius: 6.1875rem;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 0.5625rem;
	padding: 0.5rem 1.75rem 0.5rem 0.75rem;
	position: relative;
	transition: all 0.3s;
}

.section-header__btn::before {
	background-image: url(../images/common/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 40%;
	position: absolute;
	right: 0.375rem;
	top: 50%;
	transform: translateY(-50%);
	width: 17%;
}

.section-header__btn:hover {
	background-color: #82D8D0;
}

.section-header__jaTitle--lh {
	line-height: 1.2424242424;
}

.service_swiper {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 2.5rem;
}

.service {
	background: linear-gradient(#3F4245, #19191C);
	margin-top: 7.75rem;
	padding-bottom: 5.875rem;
	padding-top: 5rem;
}

.service__items {
	display: flex;
	flex-wrap: wrap;
	gap: 7.0972%;
	margin-top: 1.75rem;
}

.service__item {
	display: flex;
	flex-direction: column;
	width: 46.4514%;
}

.service__item:nth-child(3),
.service__item:nth-child(4) {
	margin-top: 4.375rem;
}

.service__title-wrapper {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.service__link {
	background-color: #000000;
	border-radius: 6.1875rem;
	height: 1.75rem;
	position: relative;
	transition: all 0.3s;
	width: 2.625rem;
}

.service__link::before {
	background-image: url(../images/common/service-arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 47%;
	left: 50%;
	max-height: 12px;
	max-width: 13px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
}

.service__link:hover {
	background-color: #82D8D0;
}

.service__item-title {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4583333333;
}

.service__text {
	color: #fff;
	flex: 1;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.9166666667;
	margin-top: 1.25rem;
	width: 63%;
}

.service__img {
	aspect-ratio: 497.03/259.56;
	margin-top: 1.375rem;
	position: relative;
	width: 100%;
}

.service__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.sp-nav {
	display: none;
}

.sp-nav.is-active {
	transform: translate(0);
}

.sp-nav__items {
	display: flex;
	flex-direction: column;
	margin-top: 5.875rem;
}

.sp-nav__item {
	color: #fff;
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 1.5333333333;
}

.sp-nav__item a {
	transition: all 0.3s;
}

.sp-nav__item a:hover {
	opacity: 0.7;
}

.sp-nav__item:not(:first-child) {
	margin-top: 1.25rem;
}

.sp-nav__service-items {
	margin-left: 1.25rem;
	margin-top: 1rem;
}

.sp-nav__service-item {
	color: #9B9CA2;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 2.5;
}

.sp-nav__contact {
	margin-top: 5.1875rem;
	position: relative;
	text-align: center;
}

.sp-nav__contact a::before {
	background-image: url(../images/common/arrow.svg);
	background-size: contain;
	content: "";
	display: inline-block;
	height: 0.75rem;
	position: absolute;
	right: 1.4375rem;
	top: 1.5625rem;
	width: 0.8125rem;
}

.sp-nav__contact a {
	border: 0.03125rem solid #fff;
	border-radius: 6.1875rem;
	color: #fff;
	font-size: 0.875rem;
	padding: 1.25rem 4.625rem;
	position: relative;
	transition: all 0.3s;
}

.sp-nav__contact a:hover {
	background-color: #82D8D0;
	border: 0.03125rem solid #82D8D0;
	color: #fff;
}

.sp-nav__phone {
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
}

.sp-nav__tel {
	color: #fff;
	font-family: arial;
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
}

.sp-nav__number {
	color: #fff;
	font-family: arial;
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.2;
}

.sp-nav__hour {
	color: #9B9CA2;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 2.3;
	text-align: center;
}

.sp-nav__address {
	color: #fff;
	color: #9B9CA2;
	font-size: 0.625rem;
	font-weight: 500;
	margin-top: 3.25rem;
	position: relative;
}

.sp-nav__address::before {
	background-color: #737479;
	content: "";
	display: block;
	height: 0.03125rem;
	left: 0;
	margin-left: calc(50% - 50vw);
	position: absolute;
	top: -1.3125rem;
	width: 100vw;
}

.sp-nav small {
	color: #9B9CA2;
	font-size: 0.4375rem;
	line-height: 4.2857142857;
	margin-top: 0.625rem;
}

.swiper__container {
	margin-top: 4.375rem;
	position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	left: 0;
	position: absolute;
	top: -2.5rem;
	width: auto;
	width: initial;
}

.swiper-pagination-bullet {
	background-color: #D1D1D1;
	height: 0.3125rem;
	width: 0.3125rem;
}

.swiper-pagination-bullet-active {
	background-color: #82D8D0;
}

.top-image__items {
	grid-gap: 3.75rem 6.75rem;
	display: grid;
	gap: 3.75rem 6.75rem;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3.75rem;
}

.top-image__title {
	color: #2E2E2E;
	font-size: 1.25rem;
	font-weight: 700;
}

.top-image__container {
	margin-top: 5.1875rem;
	position: relative;
}

.top-image__background {
	aspect-ratio: 422/346;
	background-image: url(../images/common/subImg1.jpg);
	background-position: center;
	background-size: cover;
	margin-left: auto;
	position: relative;
	width: 87.734%;
}

.top-image__background--spatial {
	background-image: url(../images/common/subImg2.jpg);
}

.top-image__background--sweets_content {
	background-image: url(../images/common/service3.jpg);
}

.top-image__background--architect {
	background-image: url(../images/common/top-image__background4.jpg);
}

.top-image__background::after {
	background-color: #2E2E2E;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.72;
	position: absolute;
	top: 0;
	width: 100%;
}

.top-image__wrapper {
	display: flex;
	gap: 0.8125rem;
	left: 0;
	position: absolute;
	top: -3.3125rem;
	width: 91.684%;
}

.top-image__mainImg {
	aspect-ratio: 258/343;
	position: relative;
	width: 58.5%;
}

.top-image__subImg {
	aspect-ratio: 170/225;
	margin-top: 7.375rem;
	position: relative;
	width: 38.549%;
}

.top-image__mainImg img,
.top-image__subImg img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.top-technology {
	margin-top: 6.75rem;
	position: relative;
}

.top-technology__flex-container {
	display: flex;
	gap: 4%;
}

.top-technology__left {
	width: 38.5%;
}

.top-technology__img {
	height: 34.25rem;
	left: 0;
	margin-top: 4rem;
	position: absolute;
	right: calc(50vw + 13rem);
	top: 11%;
	width: auto;
}

.top-technology__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.top-technology__accordion {
	width: 58%;
}

@media (max-width: 1070px) {

html {
	font-size: 1.4953271028vw;
}

}

@media screen and (max-width: 1023px) {

.top-technology__img {
	right: calc(50vw + 16%);
}

}

@media screen and (max-width: 640px) {

.u-desktop {
	display: none;
}

.u-mobile {
	display: block;
}

html {
	font-size: 16px;
}

.l-approach {
	margin-top: 8.25rem;
}

.l-facility {
	margin-top: 5.625rem;
}

.l-members {
	margin-top: 6.75rem;
}

.l-service-works {
	margin-top: 6.25rem;
}

.l-top-image {
	margin-bottom: 7.1875rem;
	margin-top: 5.9375rem;
}

.accordion__title {
	padding-left: 0.625rem;
}

.accordion__content {
	padding-left: 1.25rem;
}

.approach__enTitle {
	left: 50%;
	letter-spacing: -0.02em;
	position: relative;
	transform: translateX(-50%);
	width: 105vw;
}

.approach__text {
	font-size: 0.8125rem;
}

.approach__bottom {
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.facility__items {
	gap: 3.125rem;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 3.125rem;
}

.feature__wrapper {
	margin-top: 2.9375rem;
}

.feature__number {
	left: -0.5625rem;
}

.feature__sub-title {
	width: 92%;
}

.feature__text {
	width: 92%;
}

.feature__img {
	aspect-ratio: 340/194;
	margin-left: auto;
	margin-top: 1.875rem;
	width: 87%;
}

.feature::before {
	left: 1.375rem;
}

.features {
	flex-direction: column;
}

.features__item {
	width: 100%;
}

.features__item:not(:first-child) {
	margin-left: 0rem;
	margin-top: 4.8125rem;
}

.footer {
	padding-top: 3.125rem;
}

.footer__contact-wrapper {
	text-align: left;
}

.footer__contact {
	padding-left: 1.0625rem;
}

.footer__text {
	font-size: 1.1875rem;
}

.footer__company {
	margin-top: 5rem;
}

.footer__items {
	flex-direction: column;
	gap: 0;
	margin-top: 2.375rem;
}

.footer__item:nth-of-type(2) {
	margin-top: 2.1875rem;
}

.footer__item:nth-of-type(n+3) {
	margin-top: 1.5625rem;
}

.footer__bottom {
	align-items: start;
	flex-direction: column;
	margin-top: 3.5625rem;
	padding-top: 1.5rem;
}

.footer__bottom::before {
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.header {
	background-color: transparent;
}

.header__inner {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.header__drawer {
	display: block;
}

.header__pc-nav {
	display: none;
}

.header__sp-nav {
	display: block;
}

.inner {
	padding-left: 30px;
	padding-right: 30px;
}

.members {
	padding-bottom: 2.3125rem;
}

.members__title-wrapper {
	align-items: flex-start;
	flex-direction: column;
	gap: 0.875rem;
}

.members__swiper {
	margin-top: 2.125rem;
}

.page-fv {
	margin-top: 0;
}

.page-fv::before {
	background: linear-gradient(180deg, #EBEBEB, #FFFFFF);
	height: 49.125rem;
	top: -5rem;
}

.page-fv__inner {
	position: relative;
}

.page-fv__wrapper {
	margin-top: 0.625rem;
	width: 100%;
}

.page-fv__enTitle {
	font-size: 2.75rem;
	line-height: 0.9545454545;
	top: 2.125rem;
}

.page-fv__jaTitle {
	font-size: 1.6875rem;
}

.page-fv__text {
	font-size: 0.75rem;
	line-height: 1.9166666667;
	margin-top: 8.9375rem;
}

.page-fv__img {
	aspect-ratio: 147/128;
	max-width: 11.1875rem;
	position: absolute;
	right: 0;
	top: 1.625rem;
	width: 37.6%;
}

.page-product__items {
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.service-works__video-container {
	grid-template-columns: repeat(1, 1fr);
	row-gap: 1.5625rem;
}

.service-works__video {
	margin-right: calc(50% - 50vw);
}

.section-header__jaTitle {
	word-break: auto-phrase;
}

.section-header__enTitle.section-header__enTitle--footer {
	padding-left: 0.625rem;
}

.section-header__enTitle.section-header__enTitle--footer::before {
	left: 0;
}

.service {
	padding-bottom: 0rem;
	padding-top: 4.375rem;
}

.service__items {
	flex-direction: column;
	gap: 5rem;
	margin-top: 3.75rem;
}

.service__item {
	width: 100%;
}

.service__item:nth-child(3),
.service__item:nth-child(4) {
	margin-top: 0;
}

.service__text {
	width: 95%;
}

.service__img {
	aspect-ratio: 360/188;
	margin-left: calc(50% - 50vw);
	margin-top: 2.125rem;
	width: 92vw;
}

.sp-nav {
	background-color: #000000;
	height: 100dvh;
	overflow-y: auto;
	padding-bottom: 2.1875rem;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate(100%);
	transition: all 0.3s;
	width: 100%;
	z-index: 50;
}

.swiper__container {
	margin-top: 7rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	top: -3.25rem;
}

.top-image__items {
	gap: 3.5rem;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 2.875rem;
}

.top-image__item {
	margin-right: calc(50% - 50vw);
}

.top-image__container {
	margin-top: 4.6875rem;
}

.top-image__background {
	aspect-ratio: 316/259;
	width: 87.78%;
}

.top-image__wrapper {
	gap: 0.625rem;
	top: -2.625rem;
	width: 91.667%;
}

.top-image__mainImg {
	aspect-ratio: 193/257;
}

.top-image__subImg {
	aspect-ratio: 127/169;
	margin-top: 5.5rem;
}

.top-technology__flex-container {
	flex-direction: column;
	gap: 2.375rem;
}

.top-technology__left {
	width: 100%;
}

.top-technology__accordion {
	width: 100%;
}

}

@media screen and (max-width: 389px) {

.section-header__wrapper {
	align-items: flex-start;
	flex-direction: column;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=style.css.map */
