@use 'global' as *;

.l-page-margin{
  margin-top:  rem(52);
  @include mq('md'){
  margin-top:  rem(150);
  }
}

.l-page-about{
  
  @include mq('md'){
    margin-top:  rem(230);
  }
}


.l-page-margin--contact{
  margin-top:  rem(132);
  @include mq('md'){
    margin-top:  rem(150);
    }
}