@use 'global' as *;

.l-page-margin{
  margin-top:  rem(52);
  @include mq('md'){
  margin-top:  rem(150);
  }
}

.l-page-margin.l-page-about{
  
  @include mq('md'){
    margin-top:  rem(230);
  }
}

.l-page-margin.page-price{
  margin-top:  rem(140);
}