@use "sass:math";


// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner:  1170px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 30px;
$padding-sp: 25px;

////////////////////
// フォント設定
////////////////////

$base-font: "Noto Sans JP", sans-serif;
$english:"Noto Serif JP", serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font;
}

// フォントウェイト
$regular: 400;
$medium:500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$white: #fff;
$brown:#573314;
$beige:#E2DBCF;
$light-beige:#F7F5F1;
$black:#333;
$green:#61948F;