@use 'global' as *;

.accordion__container {
  transition-duration: .3s;
  border-top: rem(0.5) solid $border-gray;
}

.accordion__wrapper {
  border-bottom: rem(0.5) solid $border-gray;
  padding-bottom: rem(34);
}

.accordion__title-wrapper {
  display: flex;
  gap: rem(14);
  align-items: center;
  cursor: pointer;
  padding-top: rem(34);
  position: relative;
}

.accordion__title {
  font-size: rem(16);
  color: $black;
  font-weight: $medium;
  line-height: calc(23 / 16);
  position: relative;
  padding-left: rem(21);
  @include mq('md') {
    padding-left: rem(10);
  }
}

.accordion__enTitle {
  font-weight: $regular;
  font-family: $arial;
  font-size: rem(12);
  color: $text-gray;
}

.accordion__content {
  margin-top: rem(37);
  padding-left: rem(45);
  @include mq('md') {
    padding-left: rem(20);
  }
}

.accordion__text {
  color: $black;
  font-size: rem(12);
  font-weight: $medium;
  line-height: calc(23 / 12);
}

.accordion__text--small {
  color: $black;
  font-size: rem(10);
  font-weight: $medium;
  line-height: calc(23 / 10);
  text-indent: -1em;
  padding-left: 1em;
}

.accordion__content dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: $black;
  font-size: rem(12);
  font-weight: $medium;
  line-height: calc(23 / 12);
}

.accordion__content dt {
  width: 14%;
}

.accordion__content dd {
  width: 86%;
}

.accordion__btn {
  position: relative;
}

.accordion__title-wrapper::after,
.accordion__title-wrapper::before {
  content: "";
  position: absolute;
  width: rem(30);
  height: rem(30);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  right:  rem(20);
  transition: opacity 0.3s;
}

.accordion__title-wrapper::after {
  background-image: url('../images/common/accordion-plus.jpg');
  opacity: 1;
}

.accordion__title-wrapper::before {
  background-image: url('../images/common/accordion-minus.jpg');
  opacity: 0;
}

.accordion__title-wrapper.is-active::after {
  opacity: 0;
}

.accordion__title-wrapper.is-active::before {
  opacity: 1;
}

.accordion__content.accordion__content--none {
  display: none;
}

