@use 'global' as *;

.approach {
    overflow: hidden;
}

.approach__inner {

}


.approach__top {
    text-align: center;
}

.approach__title {
    position: relative;
}

.approach__jaTitle {
    color: $black;
    font-weight: $bold;
    font-size:   rem(31);
    font-style: italic;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}


.approach__enTitle {
    color: $text-gray;
    font-family: $arial;
    font-size:   rem(73);
    font-weight: $bold;
    opacity: 0.15;
    text-transform: uppercase;
    @include mq('md'){
        width: 105vw;
        letter-spacing: -0.02em;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

}

.approach__text {
color: $black;
font-weight: $bold;
line-height: calc(30 /14 );
font-size:   rem(14);
margin-top:  rem(9);
@include mq('md'){
    font-size:   rem(13);
}
}

.approach__bottom {
    margin-top:  rem(90);
    @include mq('md'){
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }

}

.approach__items {

}



