@use 'global' as *;

.aside-archive__wrapper {
  color: $green;
  font-size:   rem(24);
  
}

.aside-archive__year {
  margin-top:  rem(4);
  padding-left:  rem(32);
  position: relative;
  cursor: pointer;
}

.aside-archive__year::before {
  position: absolute;
  top:  rem(7);
  left: 0;
  content:"";
  display: inline-block;
  background: $green;
  height: rem(20);
  width:  rem(20);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: rotate(90deg);
  transition: transform .3s;
}

.aside-archive__year.is-active::before{
  transform: rotate(180deg);
}

.aside-archive__month {
  margin-top:  rem(4);
  margin-left:  rem(24);
  padding-left:  rem(32);
  position: relative;
  cursor: pointer;
}

.aside-archive__month::before {
  position: absolute;
  top:  rem(7);
  left: 0;
  content:"";
  display: inline-block;
  background: $green;
  height: rem(20);
  width:  rem(20);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: rotate(90deg);
}

