@use 'global' as *;


.blog-campaign-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.blog-campaign-card__item{
  width:  rem(294);
}


.blog-campaign-card__item:not(:first-child) {  
  margin-top:  rem(40);
}



.blog-campaign-card__btn {
  margin-top:  rem(40);
  text-align: center;
}



