@use 'global' as *;

.blog-cards{
  display: grid;
  justify-items: center;
  gap:  rem(40)  rem(40);
  @include mq('md'){
    grid-template-columns: repeat(3,1fr);
    gap:  rem(80)  rem(40);

  }

}

.blog-cards.blog-cards--2col{
  @include mq('md'){
    grid-template-columns: repeat(2,1fr);
  }
}

