@use 'global' as *;


.facility__items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  rem(30);
    margin-top: rem(40);
    @include mq('md'){
        grid-template-columns: repeat(1,1fr);
        gap:  rem(50);
        margin-top:  rem(50);
    }
}

.facility__item {

}

.facility__img {
    position: relative;
    aspect-ratio: 331/166;
}

.facility__title {
    margin-top:  rem(16);
    font-size:   rem(12);
    font-weight: $medium;
    line-height: calc(23 /12 );
    color: $black;
}

