@use 'global' as *;

.features {
    display: flex;
    flex-wrap: wrap;

    @include mq('md'){
        flex-direction: column;
    }

}  

.features__item {
    width: calc(100%/3);

    @include mq('md'){
        width: 100%;
    }
}

.features__item:nth-child(4),
.features__item:nth-child(5),
.features__item:nth-child(6){
    margin-top:  rem(60);
}

.features__item:not(:first-child){
    margin-left:  rem(-6);
    @include mq('md'){
        margin-left:  rem(0);
        margin-top:  rem(77);
    }
}

