@use 'global' as *;

.footer{
  background-color: $green;
  padding-top:  rem(48);
  padding-bottom:  rem(56);
  margin-top:  rem(100);
  @include mq('md'){
    padding-top:  rem(80);
    padding-bottom:  rem(80);
    margin-top:  rem(160);
  }
}

.footer__inner {

}
.footer__img-flex{
  @include mq('md'){
    display: flex;
    gap:  rem(40);
    align-items: flex-end;
  }
}

.footer__logoLink {
  width:  rem(120);
  aspect-ratio: 120/45;

  @include mq('md'){
    aspect-ratio: 200/75;
    width:  rem(200);
  }
}

.footer__logoLink img{
  width:  rem(120);
  height:  rem(45);

  @include mq('md'){
    aspect-ratio: 200/75;
    width:  rem(200);
    height:  rem(75);
  }
}

.footer__sns-icon {
  margin-top:  rem(16);
  display: flex;
  align-items: center;
  gap:  rem(16);
  @include mq('md'){
    padding-bottom:  rem(15);
    gap:  rem(18);
  }
}

.footer__fb-img {
  width:  rem(24);
  @include mq('md'){
    width:  rem(32);
  }
}

.footer__ig-img {
  width:  rem(19.5);

  @include mq('md'){
    width:  rem(26);
    height:  rem(26);
  }
}

.footer__nav{
  display: flex;
  @include mq('md'){
    gap:  rem(40);
  }
}

.footer small{
  display: block;
  margin-top:  rem(40);
  color: $white;
  font-size:   rem(11.5);
  line-height: calc(18 /12 );
  font-family: $gotu;
  text-align: center;
  @include mq('md'){
    margin-top:  rem(80);
    font-size:   rem(14);
    line-height: calc(18 /14 );

  }
}