@use 'global' as *;

.header {
  position:fixed;
  top:0;
  width: 100%;
  height: rem(140);
  background: #FFF;
    z-index: 1000;
  transition:  .3s;
  @include mq('md'){
    height:  rem(100);
  }
  
}

.header__inner {    
  padding-left: rem(60);
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;

  @include mq('md'){
    padding-left: rem(20);
    padding-right: rem(20);

  }
}


.header__logo {
  height: inherit;
  position: relative;
  z-index: 100;
}

.header__logoLink {
  height: inherit;
  transition: all .3s;
  display: flex;
  align-items: center;
  transition: all .3s;
}

.header__logoLink:hover{
  opacity: 0.7;
}

.header__logoLink img{
  width:  rem(338);
  height:  rem(66.7);
  @include mq('md'){
    width:  rem(250);
    height:  rem(49.5);
  }
}

.header__pc-nav {
  height: inherit;
  display: flex;
  @include mq('md'){
      display: none;
  }
}


.header__sp-nav {
  display: none;
  @include mq('md'){
      display: block;
  }
}

.header__drawer{
  display: none;
  @include mq('md'){
    display: block;
  }
}