@use 'global' as *;

.header {
  position:sticky;
  top:0;
  width: 100%;
  height: rem(80);
  background-color: transparent;
  z-index: 1000;
  transition:  .3s;
  @include mq('md'){
    background-color: transparent;
  }
}


.header.is-color{
    background-color: $white;
  }

.header__inner {    
    padding-left: rem(46);
    padding-right: rem(57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  
    @include mq('md'){
      padding-left: rem(20);
      padding-right: rem(20);

    }
}

.header__logo {
    height: inherit;
    position: relative;
    z-index: 100;
}

.header__logoLink {
 font-family: $arial;
 font-size:  rem(19);
 font-weight: $bold;
 color: $black;
 line-height: calc(22/19);
 height: inherit;
 display: flex;
 align-items: center;
 transition: all .3s;
}

.header__logoLink.is-active{
    color: $white;
}

.header__logoLink:hover{
    opacity: 0.7;
}

.header__drawer {
    display: none;
    @include mq('md'){
        display: block;
    }
}


.header__pc-nav {
    height: inherit;
    display: flex;
    @include mq('md'){
        display: none;
    }
}


.header__sp-nav {
    display: none;
    @include mq('md'){
        display: block;
    }
}
