@use 'global' as *;

.modal__flex-container{
  display: grid;
    gap: rem(8);
    @include mq("md") {
        grid-template-columns: repeat(11, 1fr);
        grid-auto-flow: dense;
    }

}



.modal__images .modal__image {
  position: relative;
  transition: opacity .6s;
}

.modal__images .modal__image:hover {
  opacity: .6;
}

.modal__image {
position: relative;
aspect-ratio: 580/369;
cursor: pointer;
    overflow: hidden;
    width: 100%;
    @include mq(md) {
        grid-column: span 6;
        grid-row: span 1;
    }
}

.modal__image:nth-of-type(6n+1),
.modal__image:nth-of-type(6n+6) {
    @include mq(md) {
        grid-column: span 5;
        grid-row: span 2;
    }
}

.modal__image--mt{
  margin-top:  rem(8);
}

.modal__image--ar{
  aspect-ratio: 492/761;

}


.modal__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* モーダル本体 */
.modal__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.modal__layer {
  height: 100%;
  background: rgba(50, 50, 50, .85);
  cursor: pointer;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  width: min(calc(100% - 40px), 1000px);
  max-height: calc(100% - 40px);
}



.modal__content .modal__image img {
  width: 100%;
}