@use 'global' as *;

.page-about__inner{
  position: relative;
  max-width:  rem(600);
  
}

.page-about__inner::before{
  position: absolute;
  content: "";
  display: block;
  background: url(../images/common/top-voice-mask1.png) no-repeat top / contain;
  top:  rem(-25) ;
  left: calc(50% - min(48.4vw,  rem(173)));
  width:  rem(120);
  height:  rem(55);
  z-index: -1;
  @include mq('md'){
    position: absolute;
    width:  rem(301);
    height:  rem(138);
    top:   rem(-150) ;
    left: calc(50% - min(48.4vw,  rem(620)));
  }
}


.page-about-gallery__modal{
  margin-top:  rem(40);
  @include mq('md'){
    margin-top:  rem(80);
  }
}

.page-about-gallery__inner{
  position: relative;
}

.page-about-gallery__inner::after {
  display: none;

  @include mq('md'){
    background: url(../images/common/top-contact-mask.png) no-repeat top / contain;
    top: rem(-50);
    content: "";
    display: block;
    height:  rem(138);
    position: absolute;
    right: calc(50% - min(48.4vw,  rem(633)));
    width:  rem(301);
    z-index: 4;
  }
  
}

.page-about {
  @include mq('md'){
    position: relative;
  }
}

.page-about__inner {
  position: relative;
  max-width:  rem(600);

  @include mq('md'){
    max-width:  rem(1130);
  }
}


.page-about__title {

}


.page-about__img-wrapper {
  position: relative;
  margin-top:  rem(50);
  margin-inline:auto;
  text-align: center;
  @include mq('md'){
  margin-top:  rem(120);
  height: 100%;
  }
}

.page-about__subImg {
  position: absolute;
  top:  rem(-26);
  left: 0;
  z-index: 2;
  aspect-ratio: 128/194;
  width: 37.1%;
  @include mq('md'){
    aspect-ratio: 400/606;
    max-width:  rem(400);
    top:  rem(-74);
  }
}

.page-about__subImg img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-about__mainImg {
  margin-left: auto;
  position: relative;
  aspect-ratio: 281/186;
  width: 81.45%;

  @include mq('md'){
    aspect-ratio:880/581 ;
    max-width:  rem(880);
  }
}

.page-about__mainImg img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-about__mainImg--width{
  width: 100%;
  @include mq('md'){
    max-width:  rem(880);
  }
}

.page-about__text-wrapper{
  margin-top:  rem(70);
  @include mq('md'){
    width:  74.336%;
    position: absolute;
    top:  rem(204);
    left:  rem(224);
    display: flex;
    gap:  rem(43);
    z-index: 3;
    margin-top:  rem(100);

  }
}

.page-about__copy {
  color: $green;
  font-family: $gotu;
  font-size:   rem(40);
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
  
  @include mq('md'){
    width: 50%;
    color: $white;
    font-size:   rem(80);
    line-height: calc(100 /80 );
  }
}

.page-about__flex{

  @include mq('md'){
    width: 50%;
  }}

.page-about__text {
  margin-top:  rem(16);
  color: $black;
  font-size:   rem(16);
  line-height: calc(24 /16 );
  @include mq('md'){
    margin-top:  rem(25);
    color: $white;
      }
}

.page-about__btn {
  margin-top:  rem(47);
  text-align: center;
  @include mq('md'){
    margin-top:  rem(40);
  }
}


.page-about__copy--position{
  position: absolute;
  top:  rem(25);
  left:  rem(40);
  color: $white;
  @include mq('md'){
    position: initial;
  }
}

.page-about__text-wrapper--position{
  margin-top:  rem(40);
  
  @include mq('md'){
    top:  rem(20);
  }
}

.page-about-gallery__inner{
  max-width:  rem(600);
  @include mq('md'){
    max-width:  rem(1130);
  }
}

