@use 'global' as *;

.fish-icon{
  position: relative;
}

.fish-icon::before{
  position: absolute;
  content: "";
  display: block;
  background: url(../images/common/top-voice-mask1.png) no-repeat top / contain;
  top:  rem(-25) ;
  left: calc(50% - min(48.4vw,  rem(173)));
  width:  rem(120);
  height:  rem(55);
  z-index: -1;
  @include mq('md'){
    position: absolute;
    width:  rem(301);
    height:  rem(138);
    top:   rem(-71) ;
    left: calc(50% - min(48.4vw,  rem(620)));
  }
}

.fish-icon.fish-icon--contact::before{
  top:  rem(-119);
  @include mq('md'){

    top:   rem(-71) ;
  }
}