@use 'global' as *;

.page-blog__inner{
  padding-left:  rem(21);
  padding-right:  rem(21);

  @include mq('md'){
    display: flex;
    gap:  rem(80);
  }
}

.page-blog__main{
  @include mq('md'){
    width: 65.37%;
  }
}

.page-blog__aside{
  @include mq('md'){
    width: 27.22%;
  }
}

.page-blog__items {
  margin-top:  rem(52);
  max-width:  rem(600);
  @include mq('md'){
    margin-top:  rem(0);
    max-width: initial;
    display: grid;
    row-gap:  rem(80);
    column-gap:  rem(40);
    grid-template-columns: repeat(2,1fr);
  }
}



