@use 'global' as *;

.page-price {

}

.page-price__inner {

}

.page-price__container{
  margin-inline: auto;
}

.page-price__container:first-child{
  position: relative;
}

.page-price__container:first-child::before{
  position: absolute;
  content: "";
  display: block;
  background: url(../images/common/top-voice-mask1.png) no-repeat top / contain;
  top:  rem(103) ;
  left: calc(50% - min(48.4vw,  rem(173)));
  width:  rem(120);
  height:  rem(55);
  z-index: -1;
  @include mq('md'){
    position: absolute;
    width:  rem(301);
    height:  rem(138);
    top:   rem(103) ;
    left: calc(50% - min(48.4vw,  rem(620)));
  }  
}

// Priceページ内リンク位置調整
.anchor {
  padding-top: 130px;
  margin-top: -90px;
  @include mq('md'){
    padding-top: 170px;

  }

}

.anchor.anchor--mt{
  margin-top:  rem(-217);
  @include mq('md'){
    margin-top:  rem(-162);
  }
}