@use 'global' as *;

.page-contact__inner{
  max-width:  rem(600);
  
  @include mq('md'){
		max-width:  rem(750);
  }
}

.page-contact__form{
  margin-top:  rem(40);

}

.page-contact__error-message {
  text-align: center;
  display: none;
}



.page-contact__error-message p {
  color: #C94800;
  font-family: "Noto Sans JP", sans-serif;
  font-size:  rem(14);
  font-weight: 400;
  text-align: left;
  text-indent: -1em;
  display: inline-block;
}

.wpcf7-list-item {
  display: block;
}