@use 'global' as *;

.section-header {

}

.section-header__enTitle {
    color: $white;
    font-family: $arial;
    font-size:   rem(12);
    line-height: calc(18 /12 );
    font-weight: $regular;
    text-transform: uppercase;
    padding-left:  rem(17);
    position: relative;
    display: inline-block;
    letter-spacing: -0.03em;
}

.section-header__enTitle::before{
    position: absolute;
    content:"";
    width:  rem(6);
    height:  rem(6);
    border-radius:  rem(99);
    top:  rem(5);
    left:  rem(0);
    background-color: $blue;
    display: block;
}

.section-header__jaTitle {
    color: $white;
    font-size:   rem(33);
    font-weight: $bold;
    line-height: calc(63 /33 );
    @include mq('md'){
        word-break: auto-phrase;
    }
}

.section-header__enTitle.section-header__enTitle--footer{
    color: $text-gray;
    font-size:   rem(14);
    font-weight: $bold;
    line-height: calc(16 /14 );
    letter-spacing: normal;
    @include mq('md'){
        padding-left:  rem(10);
    }
}

.section-header__enTitle.section-header__enTitle--footer::before{
    left:  rem(7);
    @include mq('md'){
        left: 0;
    }
}

.section-header__enTitle--black,
.section-header__jaTitle--black{
    color: $black;
}

.section-header__wrapper{
    display: flex;
    gap:  rem(32);
    align-items: flex-end;
    @include mq('sm'){
        flex-direction: column;
        align-items: flex-start;
    }
}


.section-header__btn{
    background-color: $btn-black;
    color: $white;
    font-size:   rem(12);
    font-weight: $medium;
    line-height: 1;
    border-radius:  rem(99);
    padding:  rem(8)  rem(28)  rem(8)  rem(12);
    position: relative;
    transition: all .3s;
    margin-bottom:  rem(9);
}

.section-header__btn::before{
    background-image: url(../images/common/arrow.svg);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 40%;
    width: 17%;
    position: absolute;
    right:  rem(6);
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;

}

.section-header__btn:hover{
    background-color: $blue;
}

.section-header__jaTitle--lh{
    line-height: calc(41 /33 );
}