@use 'global' as *;

.sp-nav {
    display: none;
    @include mq('md'){
        z-index: 50;
        position: fixed;
        top:  0;
        right: 0;
        width: 100%;
        height: 100dvh;
        transition: all 0.3s;
        transform: translate(100%);
        background-color: $btn-black;
        padding-left:  rem(30);
        padding-right:  rem(30);
        overflow-y: auto; // スクロールを許可する
        padding-bottom:  rem(35);
    }
  }

.sp-nav.is-active{
    transform: translate(0); 
  }


.sp-nav__items {
    display: flex;
    flex-direction: column;
    margin-top:  rem(94);  

}

.sp-nav__item {
    color: $white;
    font-weight: $bold;
    font-size:   rem(15);
    line-height: calc(23 /15 );
}

.sp-nav__item a{
    transition: all .3s;
}

.sp-nav__item a:hover{
    opacity: 0.7;
}

.sp-nav__item:not(:first-child){
    margin-top:  rem(20);
}

.sp-nav__service-items{
    margin-top:  rem(16);
    margin-left:  rem(20);
}

.sp-nav__service-item{
    font-size:   rem(12);
    font-weight: $medium;
    line-height: calc(30 /12 );
    color: $text-gray;
}

.sp-nav__contact {
    margin-top:  rem(83);
    text-align: center;
    position: relative;
}

.sp-nav__contact a::before{
    background-image: url(../images/common/arrow.svg);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 0.75rem;
    width: 0.8125rem;
    top:  rem(25);
    position: absolute;
    right:  rem(23);
}

.sp-nav__contact a{
    color: $white;
    font-size:   rem(14);
    padding:  rem(20)  rem(74);
    border:  rem(0.5) solid #fff;
    border-radius:  rem(99);
    position: relative;
    transition: all .3s;
}

.sp-nav__contact a:hover{
    background-color: $blue;
    color: $white;
    border:  rem(0.5) solid $blue;

}

.sp-nav__phone {
    color: $white;
    display: flex;
    justify-content: center;
    margin-top:  rem(40);
}

.sp-nav__tel {
    color: $white;
    font-family: arial;
    font-weight: $bold;
    font-size:   rem(15);
    line-height: calc(30 /15 );
    text-transform: uppercase;
}

.sp-nav__number {
    color: $white;
    font-family: arial;
    font-weight: $bold;
    font-size:   rem(25);
    line-height: calc(30 /25 );
}

.sp-nav__hour {
    color: $text-gray;
    font-weight: $medium;
    font-size:   rem(10);
    line-height: calc(23 /10 );
    text-align: center;
}

.sp-nav__address {
    margin-top:  rem(52);
    color: $white;
    position: relative;
    font-size:   rem(10);
    font-weight: $medium;
    color: $text-gray;
}

.sp-nav__address::before{
    position: absolute;
    content:"";
    display: block;
    background-color: #737479;
    height:  rem(0.5);
    top:  rem(-21);
    left: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.sp-nav small{
    margin-top:  rem(10);
    color: $text-gray;
    font-size:   rem(7);
    line-height: calc(30 /7 );
}