
@use 'global' as *;

.swiper__container{
    position: relative;
    margin-top:  rem(70);
    @include mq('md'){
        margin-top:  rem(112);
    }
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    top:  rem(-40);
    left: 0;
    position: absolute;
    width: initial;
    @include mq('md'){
        top:  rem(-52);
    }
}

.swiper-pagination-bullet{
    width:  rem(5);
    height:  rem(5);
    background-color: #D1D1D1;
}

.swiper-pagination-bullet-active{
    background-color: $blue;
}
