@use 'global' as *;

.table {
  @include mq('md'){
    display: flex;
    max-width:  rem(700);
  } 
}


.table__category {
  position: relative;
  background-color: $green;
  text-align: center;  
  padding-top:  rem(8);
  padding-bottom:  rem(8);
  @include mq('md'){
    padding-left:  rem(0);
    width: 28.571%;
    padding-top:  rem(40);
  } 
}

.table__category.table__category--pt{
  @include mq('md'){
    padding-top:  rem(70);
  } 
}

.table__category h3{
  position: relative;
  display: inline-block;
  font-weight: $bold;
  color: $white;
  font-size:   rem(16);
  line-height: calc( 24/16 );
  margin-left:  rem(32);
  @include mq('md'){
    margin-left: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  } 
}

.table__category h3::before{
  display: inline-block;
  content:"";
  background-image: url(../images/common/info-tab-white.svg);
  width:  rem(24);
  height:  rem(24);
  position: absolute;
  background-size: contain;
  left:  rem(-34);
  top:  rem(2);
  @include mq('md'){
    width:  rem(64);
    height:  rem(64);
    top:  rem(70);
    left: 50%;
    transform: translate(-50%, -50%);
  } 
}

table{
  border-collapse:  collapse;
  width: 100%;
  @include mq('md'){
    width: 71.428%;
  } 
}

th,td{
  border: solid 1px $green;      
  @include mq('md'){
    padding :rem(16);
    
  }       
}


.table__row {
  width: 100%;
}

.table__course-title {
font-weight: 400;
font-size:   rem(16);
line-height: calc(24 /16 );
color: $black;
width: 69.77%;
padding-top:  rem(5);
padding-bottom:  rem(5);
text-align: center;
height:  rem(60);
  @include mq('md'){
    width: 48.571%;   
    text-align-last: left;

  } 
}

.table__course-price {
  text-align: center;
  font-size:   rem(16);
  line-height: calc(24 /16 );
  color: $black;
  width: 30.23%;
  @include mq('md'){
    width: 23.143%;   
    text-align: right;
  } 
}

