@use 'global' as *;

.tab{
  margin: 0 auto;
}

.tab__list{  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:  rem(21);

  @include mq('md'){
    display: flex;
    gap:  rem(32);
  }
}



.tab__list-item{
  width:  100%;
  border: 1px solid $green;
  color: $green;
  text-align: center;
  padding:  rem(6);
  cursor: pointer;
  font-size:   rem(14);
  line-height: calc(22 / 14);
  border-radius: 0 ;
  background-color: #fff;
  @include mq('md'){
    width:  rem(162);

  }
}

.tab__list-item:hover{
  background-color: $green;
  color: $white;
}

.tab__contents-items{
  margin-top:  rem(40);

}

.is-btn-active{
  background-color: $green;
  color: $white;
}