@use 'global' as *;

.top-image {

}


.top-image__items {
    margin-top:  rem(60);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:  rem(60)  rem(108);

    @include mq('md'){
        margin-top:  rem(46);
        grid-template-columns: repeat(1,1fr);
        gap:  rem(56);
    }
}

.top-image__item {
    @include mq('md'){
        margin-right: calc(50% - 50vw);
    }
}

.top-image__title {
    font-size:   rem(20);
    font-weight: $bold;
    color: $black;
}

.top-image__container{
    margin-top:  rem(83);
    position: relative;
    @include mq('md'){
        margin-top:  rem(75);
    }
}

.top-image__background{
    background-image: url(../images/common/subImg1.jpg);
    position: relative;
    margin-left: auto;
    width: 87.734%;
    aspect-ratio: 422 / 346;
    background-size: cover;
    background-position: center;
    @include mq('md'){
        aspect-ratio: 316/259;
        width: 87.78%;
    }
}

.top-image__background--spatial{
    background-image: url(../images/common/subImg2.jpg);
}

.top-image__background--sweets_content{
    background-image: url(../images/common/service3.jpg);
}

.top-image__background--architect{
    background-image: url(../images/common/top-image__background4.jpg);
}

.top-image__background::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content:"";
    display: block;
    background-color: $black;
    opacity: 0.72;
}

.top-image__wrapper {
    display: flex;
    gap:  rem(13);
    position: absolute;
    top:  rem(-53);
    left: 0;
    width: 91.684%;
    @include mq('md'){
        gap:  rem(10);
        width: 91.667%;
        top:  rem(-42);
    }
}

.top-image__mainImg {
    position: relative;
    aspect-ratio: 258/343;
    width: 58.5%;
    @include mq('md'){
        aspect-ratio: 193/257;
    }
}

.top-image__subImg {
    position: relative;
    aspect-ratio: 170/225;
    width: 38.549%;
    margin-top:  rem(118);
    @include mq('md'){
        margin-top:  rem(88);
        aspect-ratio: 127/169;
    }
}

.top-image__mainImg img,
.top-image__subImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

